services:
  nginx:
    restart: unless-stopped
    container_name: ${PROJECT_NAME}_nginx
    build:
      context: ./src-nginx
      args:
        url_docker: ${URL_DOCKER_INDEX}
    environment:
      - NGINX_ENVSUBST_TEMPLATE_SUFFIX=.template
      - NGINX_ENVSUBST_TEMPLATE_DIR=/etc/nginx/templates
      - NGINX_ENVSUBST_OUTPUT_DIR=/etc/nginx/conf.d
      - NGINX_STATIC_FOLDER=/datashare/static/
      - NGINX_MEDIA_FOLDER=/datashare/media/
      - NGINX_PORT_HTTP=${NGINX_PORT_HTTP}
      - NGINX_PORT_HTTPS=${NGINX_PORT_HTTPS}
      - JUPYTERHUB_UI_PORT=${JUPYTERHUB_UI_PORT}
    ports:
      - "${NGINX_PORT_HTTP}:${NGINX_PORT_HTTP}"
      - "${NGINX_PORT_HTTPS}:${NGINX_PORT_HTTPS}"
    volumes:
      - ./src-nginx/templates:/etc/nginx/templates
      - datashare:/datashare
      - datalogs:/datalogs
      - nginx_cache:/var/cache/nginx
    networks:
      - app_net

  container_registry:
    container_name: ${PROJECT_NAME}_ctn_reg
    restart: unless-stopped
    image: ${URL_DOCKER_INDEX}/registry:3
    ports:
      - "${CTN_REGISTRY_PORT}:${CTN_REGISTRY_PORT}"
    volumes:
      - data_container_registry:/var/lib/registry
    networks:
      - app_net

  jupyterhub:
    profiles:
      - jupyter
    restart: unless-stopped
    container_name: ${PROJECT_NAME}_jupyterhub
    build:
      context: ./src-jupyterhub
      args:
        URL_PYPI_INDEX: ${URL_PYPI_INDEX}
        URL_DOCKER_INDEX: ${URL_DOCKER_INDEX}
    environment:
      - JUPYTERHUB_PORT=${JUPYTERHUB_PORT}
      - DATASHARE_DIR=/datashare
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - datashare:/datashare
    entrypoint:
      - jupyterhub
      - -f
      - /etc/jupyterhub/jupyterhub_config.py
      - --port
      - "${JUPYTERHUB_UI_PORT}"
    networks:
      - jf_net

volumes:
  datashare:
  datalogs:
  data_container_registry:
  nginx_cache:

networks:
  app_net: